<div id="navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.pngmart.com/files/21/Adventure-PNG-Picture.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add new product", "/trekkings/new", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAARVBMVEX///8AAAB/f38jIyNZWVk0NDSIiIj19fWQkJDT09NjY2Pm5uZGRkaoqKjw8PDLy8uvr68vLy+dnZ09PT04ODgICAgPDw9VdLfvAAABDklEQVR4nO3bSXKDQAxAUTqAjec59z9qdtl2Ci3kyO+doH9RgMtIwwAAAAAAAAAAAAAAAAAAAAAAwDvYLvO41rycs4/ft2sxu+yAnm0wsLVtdkLHEi5cshM65nDhnJ3QMYYLx+yEjmO48Jid0HEKF56yE3qewcBndkDXeQoFTv/glT9cNl9rbS7ZhwcAAAB+XffTWvtr9uH/4HAL/U9zO2QHdL1Cga29sgN67sHA1u7ZCR2PcOEjO6Gj/neL+tew/n04fAcD3/5Z+gHvw/q/aQAAAOBTVJ9NrD9fWn5GuP6cd/1Z/frfLervzNTfe6q/u1Z//zC6Q/r2VxAAAAAAAAAAAAAAAAAAAAAA4EP8ADccDrAhl7hMAAAAAElFTkSuQmCC", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Orders", my_orders_path, class: "dropdown-item" %>
              <%= link_to "My Products", trekkings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
