<div class="min-vh-100 vw-100" style="background-image: url('https://images.unsplash.com/photo-1496996317594-95a0cf707af5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size: cover; background-position: center;">
<div class="container">
    <h2>Your Orders:</h2>
    <% @orders.each do |order| %>
    <div class="card-product mt-5" style="width: 400px;">
      <% if order.trekking.photo.attached? %>
        <%= cl_image_tag(order.trekking.photo.key, width: 120, height: 120, crop: :thumb, gravity: :center) %>
      <% else %>
        <%= image_tag("no_photo.jpg") %>
      <% end %>
      <div class="card-product-infos">
        <ul class="card_orders">
          <li style="list-style: none;"><%= order.user.name %></li>
          <li style="list-style: none;"><%= order.trekking.name %></li>
          <li style="list-style: none;"><%= order.address %></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
