<div class="container" style="margin-top: 10rem;">

<<<<<<< HEAD
  <div class="card mb-3" style="max-width: 900px;">
    <img src=<%= @trekking.photo %> class="img-fluid rounded-start">
=======
  <div class="card mb-3 mt-5" style="max-width: 900px;">
    <img src=<%= @trekking.url_image %> class="img-fluid rounded-start">
>>>>>>> e12f8a39f8658f6da4a75020f75a4d081f7dfa93
    <div class="card-trip-infos">
      <div>
        <h2><%= @trekking.name %></h2>
        <p>Short description here!</p>

      </div>
      <h3 class="card-trip-pricing">R$<%= @trekking.price %></h3>
    </div>

  </div>
  <%= simple_form_for [@trekking, @order] do |f| %>
    <%= f.input :address %>
    <%= f.button :submit %>
  <% end %>
</div>
