<!-- <div class="container">
<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=<%= @trekking.url_image %> class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><%= @trekking.name %></h2>
        <h3 class="card-text">R$<%= @trekking.price %></h3>
      </div>
    </div>
  </div>
</div>
 -->
<div class="container">
  <div class="card mb-3" style="max-width: 900px;">
    <img src=<%= @trekking.url_image %> class="img-fluid rounded-start">
    <div class="card-trip-infos">
      <div>
        <h2><%= @trekking.name %></h2>
        <p>Short description here!</p>
      </div>
      <h3 class="card-trip-pricing">R$<%= @trekking.price %></h3>
    </div>
  </div>
  <form id="form-produto">
  <div class="form-row p-3">
    <div class="form-group col-md-12">
      <label>Address</label><br>
      <input type="text" class="form-control" id="addressProduto">
    </div>
  </div>
  </form>
  <%= link_to "Buy it", root_path, class: 'btn btn-outline-success' %>
  </div>
</div>
