<%= render 'shared/banner' %>


<% @trekkings.each do |t| %>
  <div class="d-inline-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <img src=<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %> class="card-img-top rounded-start">
      <div class="card-body">
        <h5 class="card-title"><%= t.name %></h5>
        <p class="card-text">R$<%= t.price %></p>
        <%= link_to "Show me more", new_trekking_order_path(t.id), class: 'btn btn-outline-success' %>
      </div>
    </div>
  </div>
<% end %>
