<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1449781499120-fbbded86c656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1930&q=80);">
  <div class="container edit_color" style="margin-top: 4rem;">
    <h2>Edit your product:</h2>
    <%= simple_form_for @trekking do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category, :collection => %w[items shoes backpack clothes]%>
      <%= f.input :price %>
      <%= f.input :photo, as: :file, direct_upload: true %>
      <%= f.button :submit, class: "btn btn-success", data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
