<div class="min-vh-100 vw-100" style="background-image: url('https://images.unsplash.com/photo-1486037242572-f25faf7505e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size: cover; background-position: center;">
<div class="your_products">
  <div class="container-your">
    <h2><strong>Your Products:</strong></h2>
  </div>
  <div class="container_card mx-5">
    <% @trekkings.each do |trekking| %>
    <div class="card-product mt-5">
      <% if trekking.photo.attached? %>
        <%= cl_image_tag(trekking.photo.key, width: 190, height: 190, crop: :fill, gravity: :center) %>
      <% else %>
        <%= image_tag("no_photo.jpg") %>
      <% end %>
      <div class="card-product-infos">
        <ul class="card_orders">
          <li style="list-style: none;"><%= trekking.name %></li>
          <li style="list-style: none;"><%= trekking.category %></li>
          <li style="list-style: none;"><%= trekking.description %></li>
          <li style="list-style: none;"><%= trekking.price %></li>
        </ul>
        <% if policy(trekking).edit? %>
          <%= link_to "Edit", edit_trekking_path(trekking), class: 'btn btn-outline-success' %>
        <% end %>
        <% if policy(trekking).destroy? %>
          <%= link_to "Delete", trekking_path(trekking), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
