<div class="container mt-5">
  <%= simple_form_for @trekking do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file, direct_upload: true %>
    <%= f.button :submit %>
  <% end %>
</div>
